---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Engineer in  Front-End with 2 years + of experience in software development. Dominion of various programming
    languages, frameworks, CMS and graphics engines. Experience in WEB design and development. Work with Data Base handled
    systems, as well as design, normalization and migration. Knowledge of work with graphic design tools for image
    manipulation , User Interfaces design, Web sites, logos and other ones.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="National Kaohsiung University of Applied Sciences"
      subtitle="2017 to 2021 majored in Computer Science of Imformation Engineering"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Phenom Tech"
      subtitle="2020 to 2021 as a front-end intern"
      desc=""
    />
    <TimeLineElement
      title="ADASTRA Tech"
      subtitle="from 2022 to now as a front-end engineer"
      desc=""
    />
    <TimeLineElement
      title="BRAVO Digital(Piecework)"
      subtitle="from 2022 to now as a front-end engineer"
      desc=""
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>VUE 2</li>
    <li>VUE 3</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Nuxt.js</li>
    <li>Taildwind</li>
    <li>Git</li>
    <li>Github flow</li>
    <li>Gitlab flow</li>
    <li>Functional Programing</li>
    <li>Pinia</li>
    <li>VUEX</li>
    <li>Astro</li>
  </ul>
</BaseLayout>
