---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Experienced front-end developer with 2 years + of experience in software development.<br>
    Have a strong background in creating user-friendly and visually appealing web applications.<br>
    My expertise includes HTML, CSS, JavaScript, and various front-end frameworks such as React and VUE.<br>
    Highly skilled in responsive design and cross-browser compatibility<br>
    I am always eager to learn new technologies.<br>
    A team player and have a passion for creating clean, efficient, and well-structured code.<br>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="National Kaohsiung University of Applied Sciences"
      subtitle="2017 to 2021 majored in Computer Science of Imformation Engineering"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Phenom Tech"
      subtitle="2020 to 2021 as a front-end intern"
      desc="During my internship at Phenom Tech, I was able to work on a variety of projects and gain valuable experience in the field of Front-End Development. My responsibilities included working with the design and development teams to create visually appealing and responsive user interfaces for the company's web-based products."
    />
    <TimeLineElement
      title="ADASTRA Tech"
      subtitle="from 2022 to now as a front-end engineer"
      desc="During my time at ADASTRA Tech, I worked as a Front-End Developer and was primarily responsible for developing progressive web applications (PWAs) using Vue.js.I used Vue.js to create a smooth and responsive user experience, and integrated various APIs to enable features such as push notifications and offline capabilities.In addition to using Vue.js, I also had the opportunity to implement a GitHub flow workflow for the project, which helped to streamline the development process and improve collaboration among team members. Furthermore, I also wrote custom hooks to improve the efficiency and maintainability of the codebase.Performance optimization was also a key focus for the project. I used various techniques such as lazy loading and code splitting to reduce the load time and improve the overall performance of the PWA."
    />
    <TimeLineElement
      title="BRAVO Digital(Piecework)"
      subtitle="from 2022 to now as a front-end engineer"
      desc="As a part-time front-end developer at BRAVO Digital, I mainly use Vue and React for development. Through participating in many projects from scratch, I have gained a wealth of development experience. One notable project was the backend for a news company, where I had the opportunity to collaborate with multiple teams and gain valuable teamwork experience."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>VUE 2</li>
    <li>VUE 3</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Nuxt.js</li>
    <li>Taildwind</li>
    <li>Git</li>
    <li>Github flow</li>
    <li>Gitlab flow</li>
    <li>Functional Programing</li>
    <li>Pinia</li>
    <li>Redux</li>
    <li>VUEX</li>
    <li>Astro</li>
  </ul>
</BaseLayout>
