---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">VUE</div>
  </div>

  <HorizontalCard
    title="Modern Office"
    img="/ModernOffice.webp"
    desc=""
    url="https://modern-office.vercel.app/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bar Map"
    img="/BarMap.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://map-black.vercel.app/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">React</div>
  </div>
  <HorizontalCard
  title="Stack Overflow Search List"
  img="/SearchList.webp"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="https://stack-overflow-search-list.vercel.app/"
/>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Astro</div>
  </div>
  <HorizontalCard
  title="Kaster Blog"
  img="/KasterBlog.webp"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="https://kaster-blog.vercel.app/"
/>
</BaseLayout>
